**Module import**

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

#explore files
import os
import os.path

In [2]:
labs = ["W2", "D54", "FTV", "IU", "O0", "pw", "pM"] #all different labs
file_names = [labs[i]+"_"+str(j)+"_values.csv" for j in range(1,10) for i in range(len(labs))] #list of all files

labels = [labs[i]+str(j) for j in range(1,10) for i in range(len(labs))] #for each file, label = lab + patient number
lab_labels = [labs[i] for _ in range(1,10) for i in range(len(labs))]
patient_labels = [str((j-1)//3+1) for j in range(1,10) for _ in range(len(labs))]

N = len(file_names) #number of files (number of measures)

In [4]:
pd.read_csv("./Data/CSV/"+file_names[0], usecols = np.arange(1,8))

,CCR7,CD4,CD45RA,CD3,HLADR,CD38,CD8
0,717.333862,1146.576782,3094.811035,2526.265137,1333.111816,1510.164429,3203.710938
1,681.858154,1398.146606,3168.901367,2394.296631,918.446350,1306.355957,3056.620605
2,402.302368,920.260132,3440.265137,2221.533203,1585.450684,1086.020020,2728.252197
3,1509.652710,1492.248291,3143.387695,2592.564453,1116.427246,1577.514893,3191.382324
4,1365.950684,659.676208,3382.406250,2126.846924,1317.988037,1277.265869,3079.729492
...,...,...,...,...,...,...,...
31337,656.703247,2494.224121,1329.365234,2185.981445,2697.676514,2129.082520,753.690430
31338,1192.792358,2002.889893,2070.568359,1659.454346,2606.289307,2216.504150,1683.872192
31339,1741.132446,2742.509277,1709.939453,2603.720947,1579.398804,1634.532471,1279.286987
31340,1179.526611,2027.088745,1244.623047,2139.364746,2227.784668,1752.800049,1234.619141
31341,1384.430908,2890.781982,1303.089600,2516.764404,1541.132080,1520.096558,1097.055420

In [6]:
hipc_df = pd.DataFrame(data={"File" : file_names, "Label" : labels, "Patient" : patient_labels, "Lab" : lab_labels})

In [7]:
hipc_df

                File Label Patient  Lab
0    W2_1_values.csv   W21       1   W2
1   D54_1_values.csv  D541       1  D54
2   FTV_1_values.csv  FTV1       1  FTV
3    IU_1_values.csv   IU1       1   IU
4    O0_1_values.csv   O01       1   O0
..               ...   ...     ...  ...
58  FTV_9_values.csv  FTV9       3  FTV
59   IU_9_values.csv   IU9       3   IU
60   O0_9_values.csv   O09       3   O0
61   pw_9_values.csv   pw9       3   pw
62   pM_9_values.csv   pM9       3   pM

[63 rows x 4 columns]

In [8]:
hipc_df.to_csv("./Data/hipc_df.csv", index=False)